body{
	font-family: calibri;
}
.board-row{
	display: flex;
}
button{
	padding:0;
	background-color: white;
	font-size: 2rem;
	font-weight: bold;
	height: 65px;
	width: 65px;
	text-align: center;
	line-height: 65px;
}